.quizcard {
  background-color: whitesmoke;
  padding: 20px;
  margin: 40px;
  position: relative;
}
.quizcard__headline {
  text-align: center;
}
.quizcard__button {
  min-height: 50px;
  min-width: 120px;
  border-radius: 15px;
  font-size: 1.15em;
  background: lightslategray;
  margin-left: auto;
  margin-right: auto;
}
.quizcard__para {
  padding: 15px;
  line-height: 25px;
}
.quizcard__answerlist {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 100%;
}
.quizcard__answerlist__answer {
  background-color: #fca311;
  color: #ffffff;
  padding: 8px;
  margin: 4px;
  border-radius: 10px;
}
