.body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 2fr, auto, 1fr;
  margin: 0px;
  justify-items: center;
  align-items: start;
}
.header {
  grid-row: 1;
  width: 100%;
  background-color: #081156;
}
.header__title {
  text-align: center;
  color: 14213d;
  padding: 15px;
  height: 100%;
  color: white;
}
.main {
  padding-right: 20px;
  padding-left: 20px;
}
.quizcard {
  background-color: whitesmoke;
  padding: 20px;
  margin-bottom: 40px;
}
.quizcard__headline {
  text-align: center;
}
.quizcard__button {
  background: lightslategray;
}
.quizcard__para {
  padding: 15px;
  line-height: 25px;
}
.quizcard__answerlist {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 100%;
}
.quizcard__answerlist__answer {
}
.footer {
  grid-row: 3;
  width: 100%;
  background-color: #081156;
  position: fixed;
  bottom: 0px;
}
.footer__navigation {
  display: flex;
  justify-content: space-evenly;
  max-height: 60px;
  width: 100%;
}
.footer__navigation__link {
  color: white;
}

@import './utility';
@import './base.scss';
