.body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 2fr, auto, auto;
  margin: 0px;
  justify-items: center;
  align-items: start;
}

.main {
  padding-right: 20px;
  padding-left: 20px;
  background-color: white;
}

@import './utility';
@import './base.scss';
@import './card';
@import './footer';
@import './header';
