.body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr auto auto;
  margin: 0px;
  justify-items: center;
  align-items: start;
}

.main {
  background-color: white;
}

@import './utility';
@import './base.scss';
@import './card';
@import './footer';
@import './header';
@import './quizcard_bookmark';
