.body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr auto auto;
  margin: 0px;
  justify-items: center;
  align-items: start;
}
.main {
  background-color: white;
}
.serif {
  font-family: serif;
}
.d-none {
  display: none;
}
* {
  box-sizing: border-box;
}
body {
  font-size: 112.5%;
  font-family: sans-serif;
  background: white;
}
textarea {
  height: 180px;
  width: 100%;
}
.quizcard {
  background-color: whitesmoke;
  padding: 20px;
  margin: 40px;
  position: relative;
}
.quizcard__headline {
  text-align: center;
}
.quizcard__button {
  min-height: 50px;
  min-width: 120px;
  border-radius: 15px;
  font-size: 1.15em;
  background: lightslategray;
  margin-left: 50%;
  margin-right: 50%;
}
.quizcard__para {
  padding: 15px;
  line-height: 25px;
}
.quizcard__answerlist {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 100%;
}
.quizcard__answerlist__answer {
  background-color: #fca311;
  color: #ffffff;
  padding: 8px;
  margin: 4px;
  border-radius: 10px;
}
.footer {
  grid-row: 3;
  width: 100%;
  bottom: 0px;
  z-index: 20;
  background-color: #081156;
  height: auto;
  position: fixed;
  min-height: 40px;
}
.footer__navigation {
  display: flex;
  position: absolute;
  justify-content: space-evenly;
  max-height: 400px;
  width: 100%;
  top: -25px;
}
.footer__navigation__link {
  background-color: #fca311;
  border-radius: 10px;
  padding: 10px;
}
.header {
  grid-row: 1;
  width: 100%;
  background-color: #14213d;
}
.header__title {
  text-align: center;
  padding: 15px;
  height: 100%;
  color: #ffffff;
}
.quizcard__bookmark {
  background-color: #fca311;
  position: absolute;
  padding: 10px;
  min-height: 25px;
  min-width: 25px;
  border-radius: 15px;
  top: -30px;
  right: -30px;
}
