* {
    box-sizing: border-box;
}
body {
    font-size: 112.5%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 2fr, auto, 1fr;
    margin: 0px;
    justify-items: center;
    align-items: start;
}
header {
    grid-row: 1;
    width: 100%;
    background-color: salmon;

}
h1 {
    text-align: center;
    background:rgb(20, 33, 61);
    color: rgb( 20, 33, 61)
    padding: 15px;
    height: 100%;
    
}
.question-card {
    background-color: whitesmoke;
    padding: 20px;
}
footer {
    grid-row: 3;
    width: 100%;
}
nav {
    display: flex;
    justify-content: space-evenly;
    background-color: limegreen;
    max-height: 60px;
    width: 100%;
}
